---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import LinkedInIcon from "../components/icons/Linked.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro"
import DownloadIcon from "../components/icons/Download.astro"
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro"

import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Proyects from "../components/Proyects.astro";

---

<Layout title="Portafolio William A.Rosado Pérez- Developer and programmer"
description="Hi am William A.Rosado Pérez.I'll always be available for contractions and learning">
	<main class="px-4">
		<SectionContainer  class="py-44 pb-32">
			<img
				class="rounded-full w-12 h-12 mb-4"
				src="https://media.licdn.com/dms/image/v2/D4E35AQHvl4fNJrRzBg/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1727728833120?e=1729033200&v=beta&t=l-Psjx9LqkKjJ6LluyS9G9-OacRifXTCDmvQxUUfeAA"
				alt="midudev photo"
			/>

			<h1
				class="text-white text-3xl  md:text-4xl lg:text-4xl font-bold flex items-center gap-x-4 pb:6 lg:pb-10"
			>
				Hi, I'm William A. Rosado Pérez
				<a
					href="http://www.linkedin.com/in/william-a-rosado-p%C3%A9rez"
					target="_blank"
					rel="noopener"
					class="flex items-center justify-left pb-0"
				>
					<span
						class="bg-violet-500 text-white text-xs font-medium px-4 py-3 rounded"
					>
						Available To Work
					</span>
				</a>
			</h1>

			<h2 class="text-xl   lg:text-2xl opacity=80 text-wrap max-w-[700px] pb-10">
				Software Develop From Puerto Rican with a Bachelor's degree in
				Computer Science from the Inter American University of Puerto
				Rico (2020-2024). I enjoy acquiring knowledge and learning more
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="http://www.linkedin.com/in/william-a-rosado-p%C3%A9rez">
						<LinkedInIcon class="size-4 lg:size-6" />
						LinkedIn
					</SocialPill>

					<SocialPill href="https://github.com/Puppywill">
					<GithubIcon class="size-4 lg:size-6" />
					Github
				</SocialPill>

                <SocialPill href="mailto:williamarosado@gmail.com">
				<MailIcon class="size-4 lg:size-6" />
					Contact Me
				</SocialPill>

				<SocialPill   href="https://drive.google.com/file/d/1GoHs3MN2T44q22TnTVombXdwPCMVOpiN/view?usp=drive_link">
				<DownloadIcon class="size-4 lg:size-6" />
				Download CV
			</SocialPill>



				</nav>		
				</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class:list="size-7"/>
				Experience and Educacion
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyect">
		<h3 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
			<CodeIcon class:list="size-8"/>
			Proyects
		</h3>
		<Proyects />
	</SectionContainer>

	</main>
</Layout>
