.background-container {
    background: black ;
    position: absolute;
    inset: 0;
    z-index: -10;
    min-height: 1000vh;
    /* Asegura que ocupe el 100% de la altura de la pantalla */
    width: 100%;
    background-size: cover;
    /* Asegura que el fondo cubra todo el contenedor */
}

@media (max-width: 768px) {
    .background-container {
        min-height: 1000vh;
        /* Ajusta si es necesario para tablets */
    }
}

@media (max-width: 480px) {
    .background-container {
        min-height: 1000vh;
        /* Ajusta para móviles */
    }
}



